#resume {
    background-color: #f6f6f6;
    padding: 1em;
    margin-bottom: 2em;
}

.resume_text {
    text-align: center;
    color: #808080;
    margin: auto;
    line-height: 150%;
    margin-bottom: 4em;
}

ul {
    list-style-type: none;
    padding: 0;
}