@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.slideshow-container {
  position: relative;
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 1em;
  margin-bottom: 3em;
}

.slideshow {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.slideshow img {
  width: 100%;
  height: auto;
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  font-size: 1.5em;
  cursor: pointer;
  padding: 16px;
  color: #383838;
  margin-top: -22px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev::before,
.next::before {
  content: "";
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

button {
  display: none;
}