.footer {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 3em;
}

.links {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.f_link {
    margin: 1em 0em;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightgray;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .back-to-top:hover {
    background-color: #fa9a82;
    color: white;
  }