.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0em 2em;
  max-width: 900px;
  margin: 0 auto;
  /* height: 100vh; */
  /* background-color: #fafafa; */
}

a:link {
  text-decoration: none;
}

a:link {
  color: #383838;
}

a:visited {
  color: #383838;
}

a:hover {
  /* color: hotpink; */
  color: #fa9a82;
}
