.about_me {
    overflow: hidden;
    margin-bottom: 3em;
}

.main_text {
    text-align: justify;
    color: #808080;
    line-height: 150%;
    margin-top: 0em;
}

.about_photo {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 2em;
    margin-bottom: 1em;
    border-radius: .5em;
}